{{extend 'layout.html'}}

<table id='fbody' class="display table table-striped table-hover table-condensed">
  <thead>
    <th>Establecimiento </th>
    <th>Cliente </th>
    <th>Fecha de fumigacion </th>
    <th>Estado</th>
  </thead>
  <tbody >
        {{for cobro in cobros:}}
        {{if ((cobro.cobros.pagado==0)and(cobro.cobros.importe>0)):}}

	{{elif ((cobro.cobros.importe>0)and(cobro.cobros.pagado>0)and(not(cobro.cobros.importe==cobro.cobros.pagado))):}}
	    <tr class="warning">
	      <td>{{=cobro.establecimientos.nombre}}</td>
	      <td>{{=cobro.clientes.nombre+" "+cobro.clientes.apellido}}</td>
	      <td>{{=cobro.certificados.fFumigacion}}</td>
	      <td><a href="#editarCobro{{=cobro.cobros.id}}" role="button" class="btn btn-warning" data-toggle="modal"><i class="fa fa-pencil fa-white"></i> Saldo pendiente ($ {{=cobro.cobros.importe - cobro.cobros.pagado}})</a></td>
	    </tr>
	{{else:}}
	    <tr class="danger">
	      <td>{{=cobro.establecimientos.nombre}}</td>
	      <td>{{=cobro.clientes.nombre+" "+cobro.clientes.apellido}}</td>
	      <td>{{=cobro.certificados.fFumigacion}}</td>
	      <td><a href="#editarCobro{{=cobro.cobros.id}}" role="button" class="btn btn-danger" data-toggle="modal"><i class="fa fa-pencil fa-white"></i> Adeudado</a></td>
	    </tr>
        {{pass}}
    {{pass}}
  </tbody>
</table>

<!-- editar cobros -->
{{for cobro in cobros:}}
<div class="modal fade" id="editarCobro{{=cobro.cobros.id}}" tabindex="-1" role="dialog" aria-labelledby="editarCobro{{=cobro.cobros.id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editarCobro{{=cobro.cobros.id}}Label">Editar pago</h4>
      </div>
      <div class="modal-body">
	    {{=crud.update(db.cobros, cobro.cobros.id, next=URL('default','cobros'), deletable=False)}}
      </div>
    </div>
  </div>
</div>
{{pass}}
