td .w2p_fc {
    color:grey;
    font-style:italic
}

.encerrado {border-style:groove;border-width:10px; border-radius:10px}

.modal-body {
    max-height: 100%;
    max-width: 100%;
    overflow-y:'auto';
}

#nuevocliente 
{
    width: 700px; 
    margin-top: -300px !important;
    margin-left:  -350px !important; 
} 

#nuevocliente .modal-body {
    max-height: 525px;
}

#nuevoempleado 
{
    width: 700px; 
    margin-top: -300px !important;
    margin-left:  -350px !important; 
} 

#nuevoempleado .modal-body {
    max-height: 525px;
}

select{overflow:hidden}

.encabezado{
    text-align:center;
}

.numero{
    text-align:right;
    margin-right:100px;
    margin-bottom:1em;
    margin-left:auto;
}

.encabezado h1{text-decoration:underline}

.cuerpo{
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    margin-left:10px;
    margin-right:10px;
    margin-top:3em;
    text-align:justify;
    font-size:medium;
}

.contenido{
    background-color:#e8e8e8;
    -moz-print-color-adjust:exact;
    
}

.certificado{
    font-size:12px;
    margin-top:-20px;
}

.separado {
    margin-right:4em;
}

td p{
    text-align:justify;
    font-size:9px;
    margin-right:20px;
}
.resaltar{
    color:red;
    text-align:center;
}

.firma{
    text-align:center;
    padding-top:50px;
}


div.error_wrapper {display:block}

div .error {
    width: 298px;
    background:red;
    border: 2px solid #d00;
    color:white;
    padding:5px;
    display:inline-block;
    background-image: -webkit-linear-gradient(left,#f00,#fdd);
    background-image: -o-linear-gradient(left,#f00,#fdd);
    background-image: -moz-linear-gradient(0deg, #f00, #fdd);
    background-image: linear-gradient(left,#f00,#fdd);
    background-repeat: repeat-y;
}
